body {
	/*
	font-family: 'Droid Serif', serif;
	font-family: 'Crimson Text', serif;
	font-family: 'Vollkorn', serif;
	*/
	font-family: 'PT Serif', serif;
	font-size: 1.2em;
}

h1, h2, h3, h4, h5, #toctitle {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	page-break-after: avoid;
}

strong {
	background-color: yellow;
	padding: 0 5px;
}
strong {
	background-color: inherit;
	padding: inherit;
}

.hdlist p {
	margin-bottom: 0;
}
.hdlist .hdlist1 {
	font-weight: normal;
}
dl dd {
	margin-left: 0;
}

#toc.toc2 {
	font-size: small;
	overflow: scroll;
}

#toc>ul>li>a {
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 1em;
	/* sadly not available in PT Serif:
	font-variant: small-caps; */
}

#toc > ul > li, #toc > ul > li > ul > li {
	margin-top: 0.5em;
	margin-left: -1.5em;
	list-style-type: none;
}
#toc > ul > li {
	margin-top: 2em;
}

#toc .sectlevel1>li>a {
	font-weight: bold;
}
#toc .sectlevel2 {
	display: none;
}

.admonitionblock {
	font-size: 0.9em;
	margin-top: -1em;
}

#top {
	position: fixed;
	bottom: 2em;
	left: 16em;
	padding: 0.5em;
	border-radius: 10px;
	background-color: #FDFDFD;
}
#top a {
	text-decoration: none;
}

span.footnote {
	line-height: 1em;
}

span.center {
	display: block;
	text-align: center;
}

.quoteblock blockquote {
	page-break-inside: auto;
}

.sect0, .sect1 {
	page-break-before: always;
	border-bottom: none;
}
.sect0 + .sect1 {
	page-break-before: none;
}

@media print {
	@page {
		size: A4 portrait;
		margin-top:    4.0cm;
		margin-bottom: 3.0cm;
	}
	@page:right {
		margin-left:  3.0cm;
		margin-right: 3.0cm;
		@bottom-right {
			content: counter(page);
			font-family: 'PT Serif', serif;
			margin-right: 5mm;
			margin-bottom: 10mm;
		}
	}
	@page:left {
		margin-left:  3.0cm;
		margin-right: 3.0cm;
		@bottom-left {
			content: counter(page);
			font-family: 'PT Serif', serif;
			margin-left: 5mm;
			margin-bottom: 10mm;
		}
	}
	#content {
		counter-reset: page 2;
	}
	#top      { display: none; }
	#toctitle { margin-top: 5em; }
	h1 {
		margin-bottom: 3em;
	}
	h2 {
		margin-bottom: 2em;
	}
	h3 {
		margin-top:    3em;
		margin-bottom: 1em;
	}
	h4 {
		margin-top:    2em;
		margin-bottom: 1em;
	}
	p {
		font-size:   12pt;
		line-height: 2;
		hyphens:     auto;
		text-align:  justify;
	}
	.openblock.partintro:last-child {
		text-align: left !important;
	}
	a {
		color: #222222 !important;
		text-decoration: none !important;
	}

	#header {
		margin-bottom: 0 !important;
	}
	#toctitle {
	    color: #ba3925 !important;
	    font-size: 2.75em !important;
	}
}
