<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="js/thesis.js"></script>
<link href="http://fonts.googleapis.com/css?family=PT+Serif:400,400italic|Yanone+Kaffeesatz|Vollkorn:400italic,400' rel='stylesheet" type="text/css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/thesis.css">
